

.recipe-thumb {

  padding: 10px;
  border: 1px solid transparent; // invisible

  &:hover {
    border: 1px solid lightgray;
    padding: 10px;
  }

  @include clearfix();

  .recipe-date {
    font-size: 12pt;
    color: darkgray;
  }

  .recipe-title {
    font-size: 32px;
  }

  img {
    width: auto;
    height: 120px;

    &.right {
      float: right;
      margin-left: 10px;
    }

    &.left {
      float: left;
      margin-right: 10px;
    }
  }

  a, a:hover {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
  }

}