<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 recipes-sidebar">
            <recipe-search  placeholder="search titles" (searchValueChange)="searchValue=$event"></recipe-search>
        </div>
        <div class="col-lg-10 recipes-list">
            <!--article.recipe-thumb for each article-->
            <article class="recipe-thumb clearfix"
                     *ngFor="let recipe of recipes | recipeFilter  : searchValue;
                             let odd=odd;
                             let even=even">

                <img [ngClass]="{right:odd, left:even}" src='{{"./images/recipes/"+recipe.image}}'>
                <div>{{recipe.title}}</div>
                <div>{{recipe.datePublished | date}}</div>
            </article>
        </div>
    </div>
</div>